In [21]:
import pandas as pd
import numpy as np
import fasttext
import spacy 
import tensorflow as tf
import matplotlib.pyplot as plt
dosya="C:/Users/bahaa/OneDrive/Masaüstü/some_of_them/archive (4)/bbc_news_text_complexity_summarization.csv"
dosya_2="C:/Users/bahaa/OneDrive/Masaüstü/some_of_them/archive (4)/archive/bbc_text_cls.csv"
nlp=spacy.load("en_core_web_lg")

In [4]:
df=pd.read_csv(dosya)
df2=pd.read_csv(dosya_2)

In [10]:
df2

                                                   text    labels
0     Ad sales boost Time Warner profit\n\nQuarterly...  business
1     Dollar gains on Greenspan speech\n\nThe dollar...  business
2     Yukos unit buyer faces loan claim\n\nThe owner...  business
3     High fuel prices hit BA's profits\n\nBritish A...  business
4     Pernod takeover talk lifts Domecq\n\nShares in...  business
...                                                 ...       ...
2220  BT program to beat dialler scams\n\nBT is intr...      tech
2221  Spam e-mails tempt net shoppers\n\nComputer us...      tech
2222  Be careful how you code\n\nA new European dire...      tech
2223  US cyber security chief resigns\n\nThe man mak...      tech
2224  Losing yourself in online gaming\n\nOnline rol...      tech

[2225 rows x 2 columns]

In [8]:
df.labels.value_counts()

labels
sport            505
business         503
politics         403
entertainment    369
tech             347
Name: count, dtype: int64

In [8]:
df["Dream Symbol"].value_counts()

Dream Symbol
Easter            2
Water             2
T                 2
Ca                2
Aardvark          1
                 ..
Haunted           1
Haunted\nHouse    1
Hawk              1
Hay               1
Zoomorphism       1
Name: count, Length: 898, dtype: int64

In [9]:
df

,text,labels,no_sentences,Flesch Reading Ease Score,Dale-Chall Readability Score,text_rank_summary,lsa_summary
0,Ad sales boost Time Warner profit\n\nQuarterly...,business,26,62.17,9.72,It hopes to increase subscribers by offering t...,Its profits were buoyed by one-off gains which...
1,Dollar gains on Greenspan speech\n\nThe dollar...,business,17,65.56,9.09,The dollar has hit its highest level against t...,"""I think the chairman's taking a much more san..."
2,Yukos unit buyer faces loan claim\n\nThe owner...,business,14,69.21,9.66,The owners of embattled Russian oil giant Yuko...,Yukos' owner Menatep Group says it will ask Ro...
3,High fuel prices hit BA's profits\n\nBritish A...,business,24,62.98,9.86,Looking ahead to its full year results to Marc...,"Rod Eddington, BA's chief executive, said the ..."
4,Pernod takeover talk lifts Domecq\n\nShares in...,business,17,70.63,10.23,Reports in the Wall Street Journal and the Fin...,Shares in UK drinks and food firm Allied Domec...
...,...,...,...,...,...,...,...
2122,New consoles promise big problems\n\nMaking ga...,tech,52,60.85,9.20,Instead of employing lots of artists to create...,Mr Wright said that enabling players to devise...
2123,BT program to beat dialler scams\n\nBT is intr...,tech,17,56.29,9.23,If a bill rises substantially above its usual ...,BT is introducing two initiatives to help beat...
2124,Be careful how you code\n\nA new European dire...,tech,45,56.29,8.73,"If it gets its way, the Dutch government will ...",A new European directive could put software wr...
2125,US cyber security chief resigns\n\nThe man mak...,tech,16,47.42,9.14,Amit Yoran was director of the National Cyber ...,The man making sure US computer networks are s...
2126,Losing yourself in online gaming\n\nOnline rol...,tech,149,68.91,7.15,One unnamed correspondent - all are anonymous ...,"Shame they are getting more popular, as you kn..."

In [65]:
df.cat

AttributeError: 'DataFrame' object has no attribute 'cat'

In [32]:
doc=nlp('Ad sales boost Time Warner profit\n\nQuarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (£600m) for the three months to December, from $639m year-earlier.\n\nThe firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL.\n\nTime Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL\'s underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL\'s existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding.\n\nTime Warner\'s fourth quarter profits were slightly better than analysts\' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins.\n\nTimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann\'s purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.')
lemmm=[]
for i in doc:
    if i.is_stop or i.is_punct :
            continue
    lemmm.append(i.lemma_)
print(" ".join(lemmm))

ad sale boost Time Warner profit

 Quarterly profit medium giant TimeWarner jump 76 $ 1.13bn £ 600 m month December $ 639 m year early

 firm big investor Google benefit sale high speed internet connection high advert sale TimeWarner say fourth quarter sale rise 2 $ 11.1bn $ 10.9bn profit buoy gain offset profit dip Warner Bros user AOL

 Time Warner say Friday own 8 search engine Google internet business AOL mixed fortune lose 464,000 subscriber fourth quarter profit low precede quarter company say AOL underlie profit exceptional item rise 8 strong internet advertising revenue hope increase subscriber offer online service free TimeWarner internet customer try sign AOL exist customer high speed broadband TimeWarner restate 2000 2003 result follow probe Securities Exchange Commission SEC close conclude

 Time Warner fourth quarter profit slightly well analyst expectation film division see profit slump 27 $ 284 m help box office flop Alexander Catwoman sharp contrast year early final film Lord Rings trilogy boost result year TimeWarner post profit $ 3.36bn 27 2003 performance revenue grow 6.4 $ 42.09bn financial performance strong meeting exceed year objective greatly enhance flexibility chairman chief executive Richard Parsons say 2005 TimeWarner project operate earning growth 5 expect high revenue wide profit margin

 TimeWarner restate account effort resolve inquiry AOL market regulator offer pay $ 300 m settle charge deal review SEC company say unable estimate need set aside legal reserve previously set $ 500 m. intend adjust way account deal german music publisher Bertelsmann purchase stake AOL Europe report advertising revenue book sale stake AOL Europe loss value stake

In [24]:
import fasttext
from gensim.models.fasttext import load_facebook_model

model = load_facebook_model("C:/Users/bahaa/OneDrive/Masaüstü/some_of_them/cc/cc.en.300.bin")

In [25]:


# FastText'in önceden eğitilmiş modelini yükle


word_embeddings=[]
# Metin verisini işleme
def get_fasttext_embedding(text):
    doc=nlp(text)
    for i in doc:
        if i.is_stop or i.is_punct :
            continue
        word_embeddings.append(model.wv.get_vector(i.lemma_))
    
   
   
    return np.mean(word_embeddings, axis=0)

In [56]:
vectorized=df.text.apply(get_fasttext_embedding)

In [117]:
vectorized

0       [-0.030071035, 0.00051816285, 0.01606719, 0.01...
1       [-0.022767203, 0.00504805, 0.017094612, 0.0359...
2       [-0.021361515, 0.0048008645, 0.019433843, 0.03...
3       [-0.022750938, 0.0032526974, 0.009324911, 0.02...
4       [-0.02208829, 0.004993851, 0.010119786, 0.0271...
                              ...
2122    [-0.011946443, 0.012611068, 0.012210985, 0.038...
2123    [-0.011941227, 0.012612911, 0.012216947, 0.038...
2124    [-0.011942599, 0.012609888, 0.012222467, 0.038...
2125    [-0.011946502, 0.012600967, 0.012229756, 0.038...
2126    [-0.011892334, 0.0126229115, 0.012213262, 0.03...
Name: text, Length: 2127, dtype: object

In [11]:
import spacy

In [29]:
df.dtypes

text                             object
labels                           object
no_sentences                      int64
Flesch Reading Ease Score       float64
Dale-Chall Readability Score    float64
text_rank_summary                object
lsa_summary                      object
dtype: object

In [36]:
boolean_degers=pd.get_dummies(df.labels,columns=["labels"])

In [37]:
boolean_degers

      business  entertainment  politics  sport   tech
0         True          False     False  False  False
1         True          False     False  False  False
2         True          False     False  False  False
3         True          False     False  False  False
4         True          False     False  False  False
...        ...            ...       ...    ...    ...
2122     False          False     False  False   True
2123     False          False     False  False   True
2124     False          False     False  False   True
2125     False          False     False  False   True
2126     False          False     False  False   True

[2127 rows x 5 columns]

In [48]:
numeric_Datas=pd.DataFrame()
numeric_Datas["flesch"]=df["Flesch Reading Ease Score"]
numeric_Datas["dale"]=df["Dale-Chall Readability Score"]

In [53]:
scaler = StandardScaler()
numerical_data_scaled = scaler.fit_transform(numeric_Datas.values)

In [54]:
numerical_data_scaled

array([[-0.17432534,  0.6980648 ],
       [ 0.22617876, -0.06754452],
       [ 0.65739999,  0.62514963],
       ...,
       [-0.86900503, -0.50503556],
       [-1.9169317 , -0.00678188],
       [ 0.62195715, -2.42513514]])

In [57]:
final_input = np.concatenate([vectorized, numerical_data_scaled.flatten()])

In [124]:
len(numerical_data_scaled.flatten())

4254

In [138]:
def create_model():
    model=tf.keras.Sequential([
        tf.keras.layers.Dense(64,input_shape=(300,), activation='relu'),
        tf.keras.layers.Dense(32,activation="relu"),
        tf.keras.layers.Dense(5,activation="softmax")
    ])
    model.compile(
        loss=tf.keras.losses.CategoricalCrossentropy(),
        optimizer=tf.keras.optimizers.Adam(),
        metrics=["accuracy"]
    )
    return model

In [139]:
def early_stopping_for_valids():
        early_stopping = tf.keras.callbacks.EarlyStopping(monitor="accuracy",
                                                  patience=3)
        return early_stopping

In [140]:
x_train_stacked=np.stack(vectorized)

In [141]:
len(x_train_stacked)

2127

In [142]:
boolean_degers

      business  entertainment  politics  sport   tech
0         True          False     False  False  False
1         True          False     False  False  False
2         True          False     False  False  False
3         True          False     False  False  False
4         True          False     False  False  False
...        ...            ...       ...    ...    ...
2122     False          False     False  False   True
2123     False          False     False  False   True
2124     False          False     False  False   True
2125     False          False     False  False   True
2126     False          False     False  False   True

[2127 rows x 5 columns]

In [149]:
def train_model():
    model=create_model()
    model.fit(x_train_stacked,boolean_degers.values,epochs=100,callbacks=[early_stopping_for_valids()])

In [150]:
model=train_model()

Epoch 1/100
67/67 [==============================] - 2s 16ms/step - loss: 1.5542 - accuracy: 0.4264
Epoch 2/100
67/67 [==============================] - 1s 16ms/step - loss: 1.2602 - accuracy: 0.4758
Epoch 3/100
67/67 [==============================] - 1s 15ms/step - loss: 0.9460 - accuracy: 0.5910
Epoch 4/100
67/67 [==============================] - 1s 15ms/step - loss: 0.7778 - accuracy: 0.7000
Epoch 5/100
67/67 [==============================] - 1s 16ms/step - loss: 0.6525 - accuracy: 0.7395
Epoch 6/100
67/67 [==============================] - 1s 16ms/step - loss: 0.5595 - accuracy: 0.8143
Epoch 7/100
67/67 [==============================] - 1s 15ms/step - loss: 0.4872 - accuracy: 0.9060
Epoch 8/100
67/67 [==============================] - 1s 16ms/step - loss: 0.4328 - accuracy: 0.9093
Epoch 9/100
67/67 [==============================] - 1s 15ms/step - loss: 0.3884 - accuracy: 0.8980
Epoch 10/100
67/67 [==============================] - 1s 15ms/step - loss: 0.3515 - accuracy: 0.9201
Epoch 11/100
67/67 [==============================] - 1s 15ms/step - loss: 0.3200 - accuracy: 0.9243
Epoch 12/100
67/67 [==============================] - 1s 15ms/step - loss: 0.2951 - accuracy: 0.9304
Epoch 13/100
67/67 [==============================] - 1s 15ms/step - loss: 0.2715 - accuracy: 0.9304
Epoch 14/100
67/67 [==============================] - 1s 15ms/step - loss: 0.2562 - accuracy: 0.9361
Epoch 15/100
67/67 [==============================] - 1s 15ms/step - loss: 0.2381 - accuracy: 0.9389
Epoch 16/100
67/67 [==============================] - 1s 15ms/step - loss: 0.2238 - accuracy: 0.9450
Epoch 17/100
67/67 [==============================] - 1s 16ms/step - loss: 0.2125 - accuracy: 0.9417
Epoch 18/100
67/67 [==============================] - 1s 15ms/step - loss: 0.2014 - accuracy: 0.9539
Epoch 19/100
67/67 [==============================] - 1s 15ms/step - loss: 0.1932 - accuracy: 0.9582
Epoch 20/100
67/67 [==============================] - 1s 14ms/step - loss: 0.1826 - accuracy: 0.9553
Epoch 21/100
67/67 [==============================] - 1s 14ms/step - loss: 0.1789 - accuracy: 0.9525
Epoch 22/100
67/67 [==============================] - 1s 15ms/step - loss: 0.1706 - accuracy: 0.9600
Epoch 23/100
67/67 [==============================] - 1s 15ms/step - loss: 0.1661 - accuracy: 0.9516
Epoch 24/100
67/67 [==============================] - 1s 14ms/step - loss: 0.1606 - accuracy: 0.9591
Epoch 25/100
67/67 [==============================] - 1s 14ms/step - loss: 0.1514 - accuracy: 0.9680
Epoch 26/100
67/67 [==============================] - 1s 15ms/step - loss: 0.1465 - accuracy: 0.9647
Epoch 27/100
67/67 [==============================] - 1s 15ms/step - loss: 0.1486 - accuracy: 0.9605
Epoch 28/100
67/67 [==============================] - 1s 15ms/step - loss: 0.1423 - accuracy: 0.9647

In [145]:
len(x_train_stacked)

2127

In [146]:
y

NameError: name 'y' is not defined